*{
    box-sizing: border-box;
    margin: 0;
    font-family: system-ui;
}

header, main, footer, nav{
    border: 1px solid black;
    padding: 3%;
    min-height: 10vh;
}

header{
    background-color: rgb(44, 42, 42);
}

nav{
    display: grid;
    gap: 20px;
    background-color: rgb(160, 160, 160);
}

a{
    text-decoration: none;
    color: black;
}

button{
    font-size: 2rem;
    background-color: transparent;
    border: none;
    color: rgb(160, 160, 160);
}

.hidden{
    display: none;
}

.card{
    border: 1px solid rgb(31, 29, 29);
    padding: 3%;
    background-color: rgb(160, 160, 160);
    scroll-snap-align: center;
}

.card a{
    font-size: 1.5rem;
}

img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.imgBox{
    border: 1px solid black;
    aspect-ratio: 1/1;
}

main{
    display: grid;
    gap: 20px;
    background-color: rgb(44, 42, 42);
}

.other_main h3{
    padding-top: 5%;
    text-align: center;
}

footer p{
    text-decoration: underline;
}

.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.row a{
    text-align: right;
}

footer{
    background-color: rgb(44, 42, 42);
    min-height: 30vh;
    display: grid;
    align-items: end;
}

footer #CONTACT{
    background-color: rgb(160, 160, 160);
    padding: 3%;
}

.index_main{
    display: grid;
    grid-template-columns: repeat(4, 85vw);
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.about_main{
    min-height: 60vh;
}

.about_main h3{
    color: rgb(160, 160, 160);
}



@media(min-width:600px){
    #nav{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
    }

    .menuButton{
        display: none;
    }

    .index_main{
            display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .other_main{
        padding: 5%;
    }
}