*{
    box-sizing: border-box;
    margin: 0;
    font-family: system-ui;
}

header, main, footer, nav{
    border: 1px solid black;
    padding: 3%;
    min-height: 10vh;
}

nav{
    display: grid;
    gap: 10px;
}

a{
    text-decoration: none;
    color: rgb(24, 23, 23);
}

button{
    font-size: 2rem;
    background-color: transparent;
    border: none;
}

.hidden{
    display: none;
}

.card{
    border: 1px solid rgb(31, 29, 29);
    padding: 3%;
}

.card a{
    font-size: 1.5rem;
}

img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.imgBox{
    border: 1px solid black;
    aspect-ratio: 1/1;
}

main{
    display: grid;
    gap: 20px;
}

@media(min-width:600px){
    #nav{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }

    button{
        display: none;
    }

    main{
        grid-template-columns: 1fr 1fr;
    }
}