*{
    box-sizing: border-box;
    margin: 0;
    font-family: system-ui;
}

header, main, footer, nav{
    border: 1px solid black;
    padding: 3%;
    min-height: 10vh;
}

nav{
    display: grid;
    gap: 10px;
}

a{
    text-decoration: none;
    color: rgb(24, 23, 23);
}

button{
    font-size: 2rem;
    background-color: transparent;
    border: none;
}

.hidden{
    display: none;
}

@media(min-width:600px){
    #nav{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }

    button{
        display: none;
    }
}