<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <header hx-get="nav.html" hx-trigger="load">
    
    </header>

    <main>
        <h1>FAQ</h1>
    </main>

    <footer hx-get="contact.html" hx-trigger="load">
        
    </footer>

</body>
</html>