*{
    box-sizing: border-box;
    margin: 0;
    font-family: system-ui,
}

Header, Main, Footer{
    border: 1px solid black;
    padding: 3%;
    min-height: 10vh;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

nav a{
    color: black;
    text-decoration: none;
    justify-self: center;
}

.content{
    display:none;
}

:target{
    display: block;
}